<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetched Data</title>
</head>
<body>
    <div>
        {% if desk_data != '[]' %}
            {% for desk_data_item in desk_data %}
                <p>{{ desk_data_item }}</p>
            {% endfor %}
        {% else %}
            <p> No desk_data_item exist within desk_data passed in the context </p>
        {% endif %}
    </div>
</body>
</html>